
<link href="~/Content/Designs/startpagestyle.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>research Gait</title>
    <!-- Main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Font awsome lib -->
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <!-- Googlw Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- 0 Header -->
    <header class="container header ">
        <h1 class="site-name">Re<span>search</span>Gate</h1>
        <nav class="navigation">
            <ul>
                <li><a href="@Url.Action("Login","User")">Log in</a></li>
                <li><a href="@Url.Action("Register","User")">sign up</a></li>
            </ul>
        </nav> 
    </header>
    <!-- 1 header -->
    <!-- 0 landing -->
    <section class="container landing ">
        <div class="left-land">
            <p>April 15,2022<span class="p-spane">___</span>Lunching the web site</p>
            <h2>Exploring All World Reasearchs</h2>
            <Button><a href="#footer"> Read more</a></Button>
            <div class="num">
                <img style="transform:scaleX(-1);  max-width:20%;" class="left-arrow" src="~/Images/Rightarrow.png" />
                <p><span>1</span>/4</p>
                <img style="  max-width:20%;" src="~/Images/Rightarrow.png"/>
            </div>
        </div>
        <div class="right-land">
            <img class="earth" style="
  margin-right:25px;
  border:4px solid white;
  border-radius:50%;
  width:80%;
" src="../../Images/earth.png">
            <div class="icons">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
            </div>
        </div>
    </section>
    <!-- 1 landing -->
    <!-- 0 about-site -->
    <section class="about-site">
        <img src="../../Images/search-img.png">
        <div class="search-area">
            <h2>Discover our Research</h2>
            <p>Find handerd research paper from 100 million user and stay up to date with what's happening in your field sign up now..!</p>
            <div class="search-box">
                <img style=" margin: 2px 3px;
                 max-width: 3%;" src="~/Images/search.png" />
                <p> search for category</p>
            </div>
        </div>
    </section>
    <!-- 1 about-site -->
    <!-- 0 last update -->
    <section class="last-update">
        <div class="left-update">
            <div class="info">
                <h3>16 April</h3>
                <p>dark main page</p>
            </div>
            <img src="../../Images/left-update.png">
        </div>
        <div class="center-update">
            <img src="../../Images/center-update.png">
            <div class="center-info">
                <h4>New up date..!</h4>
                <h2>New Layout in the Desktop Version of Research Gait</h2>
                <p>
                    now you can show web site with dark mood ..like or dislike published papers,you can add more than +50 paper
                    r.. you can search for other authors by email or name or university
                </p>
                <p>7:45-8:45</p>
                <br>
                <p>saterday/April 26</p>
                <button class="bth">Join now..!</button>
            </div>
        </div>
        <div class="right-update">
            <div class="info">
                <h3>16 may</h3>
                <p>dark home page</p>
            </div>
            <img src="../../Images/Right-update.png">
        </div>
    </section>
    <!-- 1 lasta update -->
    <!-- 0 center alone icons  -->
    <section class="inconn">
        <div class="container">
            <div class="alone-i">
                <div class="middle">
                    <img style=" max-width:20%;" src="~/Images/chemistryy.png" />
                    <h5> cimrstry </h5>
                </div>
                <div class="middle">
                    <img style=" max-width:22%;" src="~/Images/book.png" />
                    <h5>sience books</h5>
                </div>
                <div class="middle">
                    <img style=" max-width:20%;" src="~/Images/brain.png" />
                    <h5> Neurology </h5>
                </div>
                <div class="middle">
                    <img style=" max-width:20%;" src="~/Images/chemistry.png" />
                    <h5> viruse</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- 1 center alone icons  -->
    <!-- 0 footer -->
    <footer>
        <div class="footer">
            <img class="foot-img" src="../../Images/footer.png">
            <h2>Stay in touch..!</h2>
            <p>+4 &nbsp;(878) &nbsp;8723578</p>
            <p>220 - 248 Florida High Street </p>
            <p> London </p>
            <p>WS 6AG</p>
            <a href="">Questions@ResearchGate.com</a>
            <br>
            <div class="foot-icons">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <br>
            </div>
            <input class="inpute" type="text" name="" placeholder="Enter your E-mail here">
            <br>
            <button class="bth">Subscribe</button>
            <div class="foot"> © 2022  ResearchGate All Right Reserved</div>
        </div>
    </footer>
    <!-- 1 footer -->
</body>
</html>