<link href="~/Content/Designs/Loginstyle.css" rel="stylesheet" />
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="../css/login.css">
    </head>
    <body>
        <!-- page Content -->
        <div class="flex">
            <!-- image -->
            <img class="mob-img" src="../images/Login.png">
            <!--  form body   -->
            <div class="login">
                <h1 class="login-header">Sign in</h1>
                <!-- form action & method  -->
                <form class="login-container" action="" method="post">
                    <!--  form inputs  -->
                    <p><input type="text" name="email" placeholder="Email" required></p>
                    <p><input type="password" name="password" placeholder="Password" required></p>
                    <!-- submit button  -->
                    <p><input type="submit" name="submit"></p>
                </form>
            </div>
        </div>
    </body>
</html>


}