/* nomalize code */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}


body {
    margin: 0;
}


main {
    display: block;
}


hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}


pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent;
}


abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}


b,
strong {
    font-weight: bolder;
}


code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}


small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}


button,
select { /* 1 */
    text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}



    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }


    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}


textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}


    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }


::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}


template {
    display: none;
}

[hidden] {
    display: none;
}

/*end normlize*/

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* 0 header*/


.landing {
    padding-bottom: 20px;
    background-color: #2E2D2E;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.head {
    display: inline-flex;
    align-items: center;
}

    .head h2 {
        color: white;
        margin-left: 8px;
    }

ul {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

a:hover {
    color: #01BC9A;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 1 header*/

/* 0 details */


.papersec {
    background-color: #555;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 30px;
}

.paper {
    border: solid 2px #282923;
    padding: 6px;
    background-color: #666;
    flex-basis: 58%;
}

    .paper h1 {
        color: red;
    }

    .paper fieldset {
        color: blue;
        font-weight: 600;
        background-color: #ddd;
    }

    .paper legend {
        font-size: 20px;
    }

    .paper textarea {
        background-color: red;
    }

    .paper .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

.info h2 {
    color: orange;
}

.info p {
    color: blue;
    font-weight: 600;
}

    .info p time {
        color: #333;
    }



.info button:hover {
    background-color: blue;
}

.info div {
    color: blue;
    background-color: #ddd;
    text-align: center;
    padding: 3px;
    width: 30px;
}

/* comments */

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .comments h3 {
        background-color: #eee;
        margin-top: 10px;
        min-width: 600px;
        min-height: 100px;
        text-align: center;
        border: solid 2px #999;
        border-radius: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px;
    }

.boxes {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

    .boxes .box {
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
        border-radius: 6px;
        position: relative;
    }

            .boxes .box a img {
                position: absolute;
                right: -10px;
                top: -50px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 10px solid #555555;
            }

    .boxes .box {
        margin: 0 0 30px;
    }

        .boxes .box span {
            color: #777;
            margin-bottom: 10px;
            display: block;
        }

        .boxes .box p {
            line-height: 1.5;
            color: #777;
            margin-top: 10px;
            margin-bottom: 0;
        }

/* 1 details */


.comments .subscribe {
    width: 100%;
    margin-top: 20px;
}

    .comments .subscribe form {
        width: 600px;
        margin: 5px auto;
        padding: 17px 20px;
        background-color: #555;
        border-radius: 50px;
        display: flex;
        gap: 20px;
    }

        .comments .subscribe form input[type="text"] {
            width: 500px;
            border-radius: 50px;
            border: none;
            background-color: #222;
            color: white;
            font-weight: bold;
            padding: 20px;
        }

        .comments .subscribe form input[type="submit"] {
            border-radius: 50px;
            border: none;
            background-color: #999;
            color: white;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
        }

            .comments .subscribe form input[type="submit"]:hover {
                background-color: #000;
            }
