@model List<ResearchGateProject.Models.User>
<!DOCTYPE html>
<html>
<head>
    <title>results</title>
    <link href="~/Content/Designs/search.css" rel="stylesheet" />
</head>
<body>
    <div class="testimonials">
        <h2>Rersults</h2>
        <div class="container">
            @if (Model.FirstOrDefault() != null)
            {
                  foreach (var user in Model)
                  {
                        <!-- start box -->
                    <div class="ts-box">
                        <p> I'm happy tp share mt research </p>
                        <div class="person-info">
                            <a href="@Url.Action("OtherProfile","Home",user)"><img src="../images/profil-pic.jpg"></a>
                            <h4>@user.Name</h4>
                            <p>univirsty:@user.university </p>
                            <p>ِemail: @user.email</p>
                        </div>
                    </div>
                    <!-- end box -->

                  }
           }
            @if(Model.FirstOrDefault()==null){
            <h2>Not Found</h2>
            }

        </div>
    </div>
</body>
</html>
